{% extends "base.html"%}

<script>

{% block jscript %}
endpoint = 'api/chart/data'
var date = []
var rate = []

$.ajax({

    method: "GET",
    url = endpoint,
    success: function(data){
        date = data.date
        rate = data.rate
        setChart()
    }, 
    error: function(error_data){
        console.log("error"),
        console.log(error_data)
    }
})



function setChart(){
    var ctx = document.getElementById('uChart');
    var uChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: date,
        datasets: [{
            label: 'Clabsi Rate',
            data: rate,
            }]
        }
    })
};

{% endblock jscript %}
</script>

{% block uChart %}

{% endblock uChart %}


 