{% extends 'Plots/base.html' %}

{% block content %}
<!-- BOKEH LINKS AND SCRIPTS BELOW-->
<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css" rel="stylesheet" type="text/css">
<h2>The Plot Data Should Render Below This Point:</h2>

<!-- MIMIC THIS PATTERN -->
{% comment %} <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">stuff1</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">stuff2</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">stuff3</div>
</div> {% endcomment %}
<!-- FINISH PATTERN -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
{% for i in measure_names %}
    {% if forloop.counter0 == 0 %}
    <li class="nav-item">
        <a class='nav-link active' id="{{i}}-tab" data-toggle='tab' href='#{{i}}' aria-controls='{{i}}' aria-selected='false'>{{i}}</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class='nav-link' id="{{i}}-tab" data-toggle='tab' href='#{{i}}' aria-controls='{{i}}' aria-selected='false'>{{i}}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% comment %} <div class="tab-content" id="myTabContent">
{% for i in measure_names %}
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">stuff1</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">stuff2</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">stuff3</div>
{% endfor %}
</div> {% endcomment %}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
{% endblock content %}

